$error-color: rgb(224, 64, 28);
$active-submit-btn-color: rgb(23, 134, 229);
$disabled-submit-btn-color: #999999;

.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  align-items: center;
}

.label {
  font-size: 18px;
}

.input-field {
  width: 100%;
  margin-bottom: 10px;
}

.input {
  width: calc(100% - 25px);
  height: 30px;
  font-size: 18px;
  margin-top: 5px;
  padding: 0 10px;
}

.input-with-error {
  @extend .input;
  color: $error-color;
  outline-color: $error-color;
}

.input-checkbox {
  margin: 0 5px 0 0;
}

.error-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.error {
  font-size: 14px;
  color: $error-color;
}

.submit-button {
  width: 100%;
  font-size: 18px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid $active-submit-btn-color;
  border-radius: 4px;
  color: $active-submit-btn-color;

  &:hover:enabled {
    background-color: $active-submit-btn-color;
    color: white;
    cursor: pointer;
  }

  &:disabled {
    border-color: $disabled-submit-btn-color;
    color: $disabled-submit-btn-color;
  }
}

.input-checkbox-options-wrapper {
  display: flex;
  justify-content: space-between;
}
